:root[data-theme="light"] {
    --background-color: white;
    --text-color: black;
    --header-bg-color: rgba(160, 160, 160, 0.75);
    --dialog-bg-color: white;
    --dialog-border-color: grey;
    --button-bg-color: lightgrey;
    --list-bg-color: white;
    --list-border-color: grey;
  }

:root[data-theme="dark"] {
    --background-color: rgb(10, 10, 25);
    --text-color: darkgrey;
    --header-bg-color: rgba(30, 30, 30, 0.75);
    --dialog-bg-color: rgba(30, 30, 30, 0.75);
    --dialog-border-color: darkgrey;
    --button-bg-color: rgba(30, 30, 30, 0.75);
    --list-bg-color: rgba(30, 30, 30, 0.75);
    --list-border-color: rgba(120, 120, 120, 0.5);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --text-color: black;
        --header-bg-color: rgba(160, 160, 160, 0.75);
        --dialog-bg-color: white;
        --dialog-border-color: grey;
        --button-bg-color: lightgrey;
        --list-bg-color: white;
        --list-border-color: grey;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(10, 10, 25);
        --text-color: darkgrey;
        --header-bg-color: rgba(30, 30, 30, 0.75);
        --dialog-bg-color: rgba(30, 30, 30, 0.75);
        --dialog-border-color: darkgrey;
        --button-bg-color: rgba(30, 30, 30, 0.75);
        --list-bg-color: rgba(30, 30, 30, 0.75);
        --list-border-color: darkgrey;
    }
}

.list {
    box-shadow: 0px 5px 10px;
    color: var(--text-color);

}


a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    font-family: Jazz LET, fantasy;
}

h1 {
    color: rgb(255, 255, 255);
}

.header {
    box-shadow: 0px 5px 10px;
}

.button {
    color: var(--text-color);
    border: double;
    border-color: #ffffff;
    box-shadow: 0px 0px 3px;
    font-family: Jazz LET, fantasy;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 7vmin;
    height: 7vmin;
    border-radius: 7vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 93%;
    left: 18%;
    animation-duration: 41s;
    animation-delay: -16s;
    transform-origin: 10vw -19vh;
    box-shadow: 14vmin 0 2.6505891440222342vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 85%;
    left: 65%;
    animation-duration: 38s;
    animation-delay: -13s;
    transform-origin: -13vw -19vh;
    box-shadow: -14vmin 0 2.196859994427978vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 93%;
    left: 70%;
    animation-duration: 38s;
    animation-delay: -28s;
    transform-origin: -15vw -7vh;
    box-shadow: -14vmin 0 2.3331264118788053vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 24%;
    left: 43%;
    animation-duration: 30s;
    animation-delay: -35s;
    transform-origin: -19vw -11vh;
    box-shadow: -14vmin 0 1.9534105561302881vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 40%;
    left: 54%;
    animation-duration: 55s;
    animation-delay: -28s;
    transform-origin: -17vw -21vh;
    box-shadow: -14vmin 0 1.9840507563365022vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 31%;
    left: 31%;
    animation-duration: 48s;
    animation-delay: -17s;
    transform-origin: -8vw -18vh;
    box-shadow: -14vmin 0 2.1120292138114927vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 74%;
    left: 32%;
    animation-duration: 33s;
    animation-delay: -49s;
    transform-origin: -15vw -22vh;
    box-shadow: 14vmin 0 2.282418211093751vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 95%;
    left: 89%;
    animation-duration: 14s;
    animation-delay: -42s;
    transform-origin: 8vw 2vh;
    box-shadow: -14vmin 0 2.1336064389597205vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 61%;
    left: 1%;
    animation-duration: 14s;
    animation-delay: -36s;
    transform-origin: 15vw 6vh;
    box-shadow: -14vmin 0 1.9774762886783717vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 50%;
    left: 65%;
    animation-duration: 42s;
    animation-delay: -43s;
    transform-origin: -22vw -20vh;
    box-shadow: 14vmin 0 2.5437542048034825vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 19%;
    left: 72%;
    animation-duration: 15s;
    animation-delay: -19s;
    transform-origin: -11vw 17vh;
    box-shadow: -14vmin 0 1.9552080208360423vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 17%;
    left: 71%;
    animation-duration: 28s;
    animation-delay: -17s;
    transform-origin: 15vw -18vh;
    box-shadow: -14vmin 0 1.8457707107330112vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 86%;
    left: 24%;
    animation-duration: 6s;
    animation-delay: -4s;
    transform-origin: 12vw 20vh;
    box-shadow: 14vmin 0 1.8161733514966314vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 69%;
    left: 80%;
    animation-duration: 44s;
    animation-delay: -37s;
    transform-origin: 24vw -5vh;
    box-shadow: 14vmin 0 2.5752594833276454vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 58%;
    left: 74%;
    animation-duration: 45s;
    animation-delay: -31s;
    transform-origin: -18vw 2vh;
    box-shadow: -14vmin 0 2.4822218447359474vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 70%;
    left: 37%;
    animation-duration: 54s;
    animation-delay: -21s;
    transform-origin: 2vw -2vh;
    box-shadow: -14vmin 0 2.139818023274689vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 47%;
    left: 69%;
    animation-duration: 46s;
    animation-delay: -21s;
    transform-origin: -19vw -6vh;
    box-shadow: 14vmin 0 1.8018535731806582vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffffff;
    top: 7%;
    left: 42%;
    animation-duration: 32s;
    animation-delay: -5s;
    transform-origin: -16vw 23vh;
    box-shadow: 14vmin 0 2.108026566028756vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffffff;
    top: 6%;
    left: 70%;
    animation-duration: 24s;
    animation-delay: -38s;
    transform-origin: -15vw -13vh;
    box-shadow: 14vmin 0 2.5190856268246393vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 64%;
    left: 73%;
    animation-duration: 9s;
    animation-delay: -10s;
    transform-origin: 22vw 1vh;
    box-shadow: 14vmin 0 1.7648342212242039vmin currentColor;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: max(10px, 1vw);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg-color);
    border-radius: 2vw;
}

.header-title {
    margin: 0.5vw;
    padding: 0.5vw;
    color: var(--text-color);
    font-size: larger;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 1vw;
}

dialog {
    padding: 0.5vw;
    border-radius: 0.75vw;
    border: 0.1vw solid var(--dialog-border-color);
    background-color: var(--dialog-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog[open] {
    animation: dialog-open 750ms forwards;
}

dialog::backdrop {
    background-color: rgba(10, 10, 10, 0.5);
}

dialog[open]::backdrop {
    animation: backdrop-open 750ms forwards;
}

dialog input {
    border: 0.1vw solid var(--dialog-border-color);
    border-radius: 0.75vw;
    padding: 0.5vw;
    margin: 0.5vw;
}

dialog .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.25vw;
    padding: 0.25vw;
    border-radius: 0.5vw;
    border: 0.1vw solid var(--dialog-border-color);
    background-color: var(--button-bg-color);
    color: var(--text-color);
    font-size: max(7.5px, 0.75vw);
}

input {
    background: none;
    border: none;
    color: var(--text-color);
}

.lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 90%;
    background-color: var(--list-bg-color);
    margin: 0.5vw;
    padding: 0.25vw;
    border-radius: 2vw;
    border: 0.1vw solid var(--list-border-color);
}

.list[remove] {
    animation: slide-right 750ms;
}

.list-header {
    margin-inline: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-header-title {
    overflow-wrap: anywhere;
    width: 75%;
    margin-left: 0.5vw;
}

.list-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 25%;
}

.list-tasks {
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
}

.task {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
}

.task-name {
    width: 90%;
    text-align: left;
}

.task-date {
    font-size: max(10px, 1vw);
}

.task-buttons {
    display: inline-flex;
}

@keyframes dialog-open {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes backdrop-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}