body {
    background-color: rgb(10, 10, 25);
    color: darkgrey;
    font-size: 1vw;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(30, 30, 30, 0.75);
    border-radius: 2vw;
}

.header-title {
    margin: 0.5vw;
    padding: 0.5vw;
    color: darkgrey;
    font-size: larger;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 1vw;
}

dialog {
    padding: 0.5vw;
    border-radius: 0.75vw;
    border: 0.1vw solid darkgrey;
    background-color: rgba(30, 30, 30, 0.75);
    color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog input {
    border: 0.1vw solid darkgrey;
    border-radius: 0.75vw;
    padding: 0.5vw;
    margin: 0.5vw;
}

dialog .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.25vw;
    padding: 0.25vw;
    border-radius: 0.5vw;
    border: 0.1vw solid darkgrey;
    background-color: rgba(30, 30, 30, 0.75);
    color: darkgrey;
    font-size: 0.75vw;
}

input {
    background: none;
    border: none;
    color: darkgrey;
}

.lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 90%;
    background-color: rgba(30, 30, 30, 0.75);
    margin: 0.5vw;
    padding: 0.25vw;
    border-radius: 2vw;
}

.list-header {
    margin-inline: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-header-title {
    overflow-wrap: anywhere;
    width: 75%;
    margin-left: 0.5vw;
}

.list-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 25%;
}

.list-tasks {
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
}

.task {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
}

.task-name {
    width: 90%;
    text-align: left;
}

.task-buttons {
    display: inline-flex;
}